
@{
    ViewBag.Title = "Edit";
}
@model Airclub.Models.Contract

<h2>Договір № @Model.Id</h2>

@using (Html.BeginForm("Edit", "Contract", FormMethod.Post))
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <p>
            @Html.Label("Техніка")
            <br />
            @Html.DropDownList("Aircraft", ViewBag.Aircrafts as SelectList, new { id = "aircraft" })
        </p>
        <p>
            @Html.Label("Послуга")
            <br />
            @Html.DropDownList("ServiceId", ViewBag.Services as SelectList, new { id = "service" })

        </p>
        <p>
            @Html.LabelFor(m => m.CustomerId, "Кліент")
            <br />
            @Html.DropDownListFor(m => m.CustomerId, ViewBag.Customers as SelectList)
        </p>
        <p>
            @Html.HiddenFor(m => m.AdministratorId)
        </p>
        <p>
            @Html.HiddenFor(m => m.ContractSignDate)
        </p>
        <p>
            @Html.LabelFor(m => m.ContractStartDate, "Початок дії")
            <br />
            @Html.TextBoxFor(m => m.ContractStartDate, new { @type = "date", id = "startDate" })
        </p>
        <p>
            @Html.LabelFor(m => m.ContractFinishDate, "Закінченя дії")
            <br />
            @Html.TextBoxFor(m => m.ContractFinishDate, new { @type = "date", id = "finishDate" })
        </p>
        <p>
            @Html.HiddenFor(m => m.Id)
        </p>
        <p><input type="submit" value="Зберегти" /></p>
    </fieldset>
    @section scripts{
        <script type="text/javascript">
            Date.prototype.toStartDate = (function () {
                var local = new Date(@Model.ContractStartDate.Year, @Model.ContractStartDate.Month-1, @Model.ContractStartDate.Day+1);
                return local.toJSON().slice(0, 10);
            });
            Date.prototype.toFinishDate = (function () {
                var local = new Date(@Model.ContractFinishDate.Year, @Model.ContractFinishDate.Month-1, @Model.ContractFinishDate.Day+1);
                return local.toJSON().slice(0, 10);
            });
            document.getElementById('startDate').value = new Date().toStartDate();
            document.getElementById('finishDate').value = new Date().toFinishDate();
    $(function () {
        $('#aircraft').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetServices")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#service').replaceWith(data);
                }
            });
        });
    })
        </script>
    }
}