@model Airclub.Models.Filter.ServiceListViewModel
@{
    ViewBag.Title = "Table";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Послуги</title>
    <script>
        function AskSubmit(id) {
            if (confirm("Видалити запис номер " + id + "?"))
                $.ajax({
                    url: '/Service/Delete',
                    data: { id: id }
                }).done(function () {
                    alert('Deleted');
                });
        }
    </script>
</head>
<body>
    <form method="get">
        <div class="form-inline">
            <label class="control-label">Клас: </label>
            @Html.DropDownList("name", Model.Names as SelectList,
                        htmlAttributes: new { @class = "form-control" })
            <label class="control-label">Модель: </label>
            @Html.DropDownList("aircraft", Model.Aircrafts as SelectList,
                        htmlAttributes: new { @class = "form-control" })

            <input type="submit" value="Фільтр" class="btn btn-default" />
            <input type="button" value="Сброс" class="btn btn-default" onClick='location.href="/Service/Table"' />
        </div>
    </form>
    <form method="get">
        <div class="form-inline">
            <p>
                Пошук по @Html.DropDownList("SearchParam", ViewBag.SearchParams as SelectList): @Html.TextBox("SearchString")
                <input type="submit" value="Пошук" />
            </p>
        </div>
    </form>
    <div>
        <h3>Послуги</h3>
        <table border="1">
            <tr>
                <td><p>Id</p></td>
                <td><p>@Html.ActionLink("Техніка", "Table", new { name = ViewBag.Name, aircraft = ViewBag.Aircraft, SearchParam = ViewBag.SearchParam, SearchString = ViewBag.SearchString, sortOrder = ViewBag.AircraftSortParm })</p></td>
                <td><p>@Html.ActionLink("Назва", "Table", new { name = ViewBag.Name, aircraft = ViewBag.Aircraft, SearchParam = ViewBag.SearchParam, SearchString = ViewBag.SearchString, sortOrder = ViewBag.NameSortParm })</p></td>
                <td><p>@Html.ActionLink("Вартість", "Table", new { name = ViewBag.Name, aircraft = ViewBag.Aircraft, SearchParam = ViewBag.SearchParam, SearchString = ViewBag.SearchString, sortOrder = ViewBag.CostSortParm })</p></td>
            </tr>
            @foreach (var b in ViewBag.Services)
            {
                <tr>
                    <td><p>@b.Id</p></td>
                    <td><p>@b.Aircraft.RegistrationNumber</p></td>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Price</p></td>
                    @if (ViewBag.IsOwner)
                    {
                        <td><p><input type="button" value="Редагувати" onClick='location.href="/Service/Edit/@b.Id"'></td>
                        <td><p><input type="button" value="Видалити" onClick="AskSubmit(@b.Id)"></td>
                    }
                </tr>
            }
        </table>
    </div>
    @if (ViewBag.IsOwner)
    {
        <input type="button" value="Додати" onClick='location.href="/Service/Add"'>
    }
</body>
