<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Авіаклуб "Student Aero"</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*<script>
            function AskContract() {
                var id = parseInt(prompt('Введите номер договора', 1));
                    $.ajax({
                        url: '/Reporting/Contract',
                        data: { id: id },
                        jsonp: 'callback',
                        dataType: 'jsonp',
                        success: function (data) {
                            callback.call(this, data);
                        },
                        error: function (data) {
                        }
                    });
            }
        </script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Авіа-клуб", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                База даних
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">@Html.ActionLink("Бази", "Table", "Base")</li>
                                <li class="dropdown-item">@Html.ActionLink("Техніка", "Table", "Aircraft")</li>
                                <li class="dropdown-item">@Html.ActionLink("Клієнти", "Table", "Customer")</li>
                                <li class="dropdown-item">@Html.ActionLink("Послуги", "Table", "Service")</li>
                                <li class="dropdown-item">@Html.ActionLink("Співробітники", "Table", "Administrator")</li>
                                <li class="dropdown-item">@Html.ActionLink("Договори", "Table", "Contract")</li>
                            </ul>
                        </div>
                    </li>
                    @*<li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Отчёты
                                </button>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-item" onClick="AskContract()">@Html.Label("Договор")</li>
                                </ul>
                            </div>
                        </li>*@
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Статистика
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-item">@Html.ActionLink("Техніка по базам", "Aircrafts", "Stat")</li>
                                <li class="dropdown-item">@Html.ActionLink("Договори по місяцям", "Contracts", "Stat")</li>
                                <li class="dropdown-item">@Html.ActionLink("Прибуток по базам", "Income", "Stat")</li>
                                <li class="dropdown-item">@Html.ActionLink("Топ-5 найпопулярнішої техніки", "Top5", "Stat")</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
